<tr>
  <td><%= entry.food %></td>
  <td><%= link_to 'Show', entry %></td>
  <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
  <td><%= link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>