<h1>Food for <%= todays_date %></h1>

<table class=food>
  <tr>
    <th>Food</th>
    <th>Amount</th>
    <th>Time/Place</th>
    <th>Sensory</th>
    <th>Emotional</th>
    <th>Action</th>
  </tr>
  
  <%= render :partial => 'entry', :collection => @entries %>
</table>

<br />

<%= link_to 'New Entry', new_entry_path %>
